* {
  background-color: bisque;
  padding: 20px;
  margin: 10px;
}

.container {
  display: grid;
  padding: 10px;
  height: 5px;
  width: 25px;
  color: #000;
}
.button {
  padding-right: 80px;
  height: 5px;
  width: 55px;
}
.bt {
}
